<!DOCTYPE html>

<html lang="fr">


<head>
  <title>Elève</title>
  <meta charset="utf-8">    
</head>
  
<body>

   
   <h1> <em>Mon avenir</em> interface élève </h1>
   

   <p>Bienvenue {{session['user']['prenom']}} {{session['user']['nom']}}  sur la plateforme <em>Mon avenir</em>.  </p>

   
   <h2>Vos options </h2>

    <ul>
       <li> <a href="/rechercheFormation">Rechercher un établissement du supérieur.</a></li>
    </ul>

    <footer>
      <h2>Pied de page</h2>
      <ul>
          <li><a href="/">Déconnexion</a></li>
      </ul>   
    </footer>
  
</body>
</html> 
