<!DOCTYPE html>

<html lang="fr">


<head>
  <title>Recherche de formation</title>
  <meta charset="utf-8">    
</head>
  
<body>

   
   <h1> <em>Mon avenir</em> résultat de recherche </h1>
   

   <section>
   <h2> Liste des établissements répondant aux critères :  </h2>

    <ul>
        <li> Type : {{result['type']}} </li>
        <li> Commune :  TO DO / à compléter</li>
    </ul>

<ol>

    {% for etab in liste_sup %}
    <li> 
        <ul>

            <li> Nom : {{ etab['nom'] }} </li>
            <li> Type : TO DO / à compléter </li>
            <li> Commune :TO DO / à compléter </li>
            <li> Identifiant (à saisir dans le formulaire de candidature ) : TO DO / à compléter </li>
        </ul>


    </li>
   {% endfor %}

</ol>
<section>
  
    <footer>
        <h2>Pied de page</h2>
        <ul>
            <li> <a href="/interface">Retour à l'interface du profil</a></li>
            <li> <a href="/rechercheFormation">Recherche de formation</a></li> 
            <li><a href="/">Déconnexion</a></li>
        </ul>   
      </footer>
</body>
</html> 
